@if (kebab()) {
  <button type="button" appButton variant="ghost" class="kebab" aria-haspopup="menu" [attr.aria-label]="label()" [cdkMenuTriggerFor]="menu">
    <app-icon name="more" [size]="24" />
  </button>
} @else {
  <button type="button" appButton variant="secondary" aria-haspopup="menu" [cdkMenuTriggerFor]="menu">
    {{ label() }}
  </button>
}
<ng-template #menu>
  <div class="menu" cdkMenu>
    @for (item of items(); track $index) {
      <button
        type="button"
        class="item"
        cdkMenuItem
        [class.danger]="item.danger"
        [disabled]="item.disabled ?? false"
        (cdkMenuItemTriggered)="selected.emit($index)"
      >
        {{ item.label }}
      </button>
    }
  </div>
</ng-template>
